{% load static %}
 <!-- CSS here -->
 <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
 <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
 <link rel="stylesheet" href="{% static 'css/aos.min.css' %}">
 <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
 <link rel="stylesheet" href="{% static 'css/icofont.min.css' %}">
 <link rel="stylesheet" href="{% static 'css/slick.css' %}">
 <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
 